<% provide(:title, @user.name) %>

<div class="row">
  <section class="user_tasks">
    <h1>new task</h1>
    <p><%= link_to "back", tasks_path, class: 'btn btn-success btn-sm btn-block center-content' %></p>



    <%= render 'form' %>






  </section>
</div>
