<!-- app/views/tasks/show.pdf.erb -->
<meta charset="utf-8">

<% tasks.each do |weekday| %>
    <p>
  <% weekday['46'].each do |task| %>
    <%= task.category %> - <%= task.name %> | <%= task.duration %><br>
  <% end %>
    </p>
<% end %>
