<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<h1>update profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
    </div>
    <p><br><a class="btn btn-primary btn-block" href="http://gravatar.com/emails" target="_blank">change gravatar</a></p>

    <%= render 'form' %>

  </div>
</div>