<% provide(:title, User.find(session[:user_id]).name) %>

<div class="row">
  <section class="user_tasks">
    <%= render partial: 'shared/users', locals: {users: @users } %>
  </section>
</div>
<br>
