<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-xs-12 col-md-12">
    <section class="user_info center-content">
      <%= gravatar_for @user %><br>
      <h1><%= @user.name %></h1>
    </section>
  </aside>
  <section class="user_tasks">
    <%= render partial: 'shared/users', locals: {users: @users } %>
    <%= render partial: 'shared/tasks', locals: {tasks: @tasks } %>
  </section>
</div>