@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  height: 100%;
  background-color: #252525;
  color: #EFEFEF;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.page{
  margin-bottom: 15%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  color: #EFEFEF;
}

.logo:hover {
  color: #EFEFEF;
  text-decoration: none;
}

/* footer */
footer div.btn-group-sm {
  margin-right: -10px;
  right: -5px;
  padding-right: 15px
}

footer .dropdown-menu {
  right: 0;
  float: right;
  text-align: left;
  margin: auto;
}

footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #EFEFEF;
  color: #EFEFEF;
  z-index: 15;
}

footer a, footer a:visited {
  color: #989898;
}

footer a:hover {
  color: lighten(#efefef, 10%);
  text-decoration: none;
  cursor: pointer;
}



footer li a.dropdown-item:hover, footer li a.dropdown-item:focus {
  background-color: darken(#EFEFEF, 5%);
  border: 0px dotted darken(#efefef, 5%);
  width: inherit;
  overflow: hidden;
}

footer li a.dropdown-item {
  text-align: left;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #262626;
  white-space: nowrap;
}

footer p {
  margin-top: 7px;
  float: left;
}

footer ul {
  margin-top: 7px;
  margin-right: 0;
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  margin-right: 0;
}

footer ul li a {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* mixins, variables, etc. */

$gray-medium-light: #989898;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  width: 100%;
  background: red;//#ABCEED;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* flash */

.alert {
  margin-bottom: 10px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: darken(#252525, 5%);
}

.table-hover > tbody > tr:hover {
  background-color: lighten(#252525, 5%);
}

/* header */

.container-fluid > .navbar-header {
  margin-left: 0;
}

/* bootstrap overrides */

a.btn:visited {
  color: #fff;
}

.jumbotron {
  background-color: inherit;
}

footer ul.navbar-right {
  margin-right: 0;
}

footer a.btn-footer {
  background-color: inherit;
  color: #989898;
}

footer a.btn-footer:hover {
  color: lighten(#efefef, 10%);
  text-decoration: none;
  cursor: pointer;
}

footer li a:hover {
  color: lighten(#efefef, 10%);
  text-decoration: none;
  cursor: pointer;
}

/* clock */

.center-content {
  margin: 0 auto;
  display: block;
  max-width: 600px;
}

@media all and (max-width: 680px) {
  .center-content > #fancyClock > div.clock {
    max-width: 600px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
    float: none;
  }
}
