<footer class="footer">
  <div class="container">
    <p>
      TaskR by <a href="http://www.github.com/ndbiller/">ndbiller</a>
    </p>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </nav>
  </div>
</footer>